<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <h1>Home Library</h1>
    <div id="base">
        <a href="http://127.0.0.1:5000/add_book">Add new book</a><br>
        <a href="http://127.0.0.1:5000/display">Display and edit</a><br>
    </div>

    {% block content %}{% endblock %}


</body>
</html>